Source: ros-melodic-jderobot-carviz
Section: misc
Priority: optional
Maintainer: Your Name <pankhurivanjani@gmail.com>
Build-Depends: debhelper (>= 9.0.0), pkg-config, python3-yaml, ros-melodic-catkin, ros-melodic-cv-bridge, ros-melodic-image-transport, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-jderobot-carviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-yaml, ros-melodic-cv-bridge, ros-melodic-image-transport, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Description: carViz package
